<launch>
    <include file="$(find sweep_ros)/launch/sweep2scan.launch"/>

    <node name="tf_publisher" pkg="auto_nav" type="odometry_with_base_params.py" output="screen"/> 
    <!-- <node name="tf_publisher" pkg="auto_nav" type="odometry_with_base_params_with_obj_detection.py" output="screen"/> -->
    <!-- <node name="tf_publisher" pkg="auto_nav" type="odometry_final_untested.py" output="screen"/> -->

    <!-- <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value="115200"/>
    </node> -->

</launch>