<launch>
	 <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/> 
	<!-- Realsense launch file -->

	<!-- run pointcloud_to_laserscan node -->
	<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
		<remap from="image" to="camera/depth/image_rect_raw"/>
		<remap from="camera_info" to="camera/depth/camera_info"/>
		<rosparam>

        scan_height: 1 # default 1 pixel
        scan_time: 0.033 # default: 1/30.0Hz (0.033s)
        range_min: 0.25 # meters
        range_max: 10.0 # meters
        # output_frame_id: camera_depth_frame default

        </rosparam>
    </node>

    <!-- <node name="tf_publisher" pkg="auto_nav" type="odometry_with_base_params.py" output="screen"/>  -->
    <node name="tf_publisher" pkg="auto_nav" type="odometry_with_base_params_with_obj_detection.py" output="screen"/>
    <!-- <node name="tf_publisher" pkg="auto_nav" type="odometry_final_untested.py" output="screen"/> -->


    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value="115200"/>
    </node>


</launch>